# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
.venv/
env/
venv/

# IDE configuration files
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Build and distribution files
build/
dist/
*.egg-info/

# generated images
*.svg
*.png

# generated material inputs
materialsInputs/*

# generated input and output files
input.json
nuclearDensityOutputs.txt
*.json

# a SCONE input file
inputs/SimpleLab_MC